@page "/"
@using HPCTech2024SpringProjectBoilerPlate.Client.Components

@if (UserFavoriteMovies?.Any() ?? false)
{
    <ul>
    @foreach (var movie in UserFavoriteMovies)
    {
            <li><a href="#" @onclick="@(() => ShowMovieDetails(movie))" @onclick:preventDefault style="text-decoration:none;color:black">  @movie.Title (@movie.Year)</a></li>
    }
    </ul>
    <MovieDetails Movie=Movie />
}

