@page "/"

@if (UserFavoriteMovies?.Any() ?? false)
{
    <ul>
        @foreach (var movie in UserFavoriteMovies)
        {
            <li>@movie.Title <img src="@($"https://img.omdbapi.com/?apikey=86c39163&i={movie.imdbID}")"/></li>

        }
    </ul>
}

