@page "/search"
@using Microsoft.AspNetCore.Components.QuickGrid

<label>Search</label>
<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-3">
        <input type="text" class="form-control" @bind="searchTerm" placeholder="Search" />
        </div>
        <div class="col-1">
            <button class="btn btn-primary" @onclick="SearchOMDB">Search</button>
        </div>
    </div>
</div>
@if (OMDBMovies is not null)
{
    <div class="grid">
        <QuickGrid Items="OMDBMovies" Theme="corporate">
            <PropertyColumn Property="@(m => m.Title)" Title="Title" />
            <PropertyColumn Property="@(m => m.Year)" Title="Year" />
            <PropertyColumn Property="@(m => m.Type)" Title="Type" />  
        </QuickGrid>
    </div>
}

