@page "/search"
@using Syncfusion.Blazor.Grids
@using HPCTech2024SpringProjectBoilerPlate.Shared
@using Syncfusion.Blazor.Navigations

<label>Search</label>
<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-3">
        <input type="text" class="form-control" @bind="searchTerm" placeholder="Search" />
        </div>
        <div class="col-1">
            <button class="btn btn-primary" @onclick="SearchOMDB">Search</button>
        </div>
    </div>
</div>
@if (OMDBMovies is not null)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <SfPager @ref="Page" PageSize="10" TotalItemsCount="TotalItems" ItemClick="PageClick">

                </SfPager>
                <SfGrid     DataSource="OMDBMovies"
                            TValue="MovieSearchResultItem"
                            @ref="movieGrid"
                            AllowSorting="true">
                    <GridColumns>
                        <GridColumn Field="Title" HeaderText="Movie Title" Width="200"></GridColumn>
                        <GridColumn Field="Year" HeaderText="Year Released" Width="100"></GridColumn>
                        <GridColumn Field="Type" HeaderText="Movie/Series/Episode" Width="100"></GridColumn>
                    </GridColumns>
                </SfGrid>

            </div>
        </div>
    </div>
}

