<h3>FooComponent (we're inside the component here)</h3>

<p>The meaning of life is @TheMeaningOfLife</p>
<p>@someparam is cool</p>

@code {
    [CascadingParameter] int TheMeaningOfLife { get; set; }
    [Parameter] public string someparam { get; set; }
}
