<nav class="nav nav-masthead justify-content-center float-md-end border-1 border-primary">
    <NavLink class="nav-link fw-bold py-1 px-0" href="/" Match="NavLinkMatch.All">Home</NavLink>
</nav>
<AuthorizeView>
    <Authorized>
        <NavLink class="nav-link fw-bold py-1 px-0" href="search">
            Search Movies
        </NavLink>
    </Authorized>
</AuthorizeView>
<AuthorizeView Roles="Admin">
    <NavLink class="nav-link fw-bold py-1 px-0" href="admin">
        Admin
    </NavLink>
</AuthorizeView>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
